body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background: url('../src/images/bg.jpg') no-repeat center center fixed;
  background-size: contain;
}

.bold-text {
  font-weight: bold;
}
.description {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
}

.btn {
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #b6b6b6;
  text-align: left; /* Change text alignment to left */
  padding-left: 30px; /* Add padding to move text to the left */
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  z-index: 10;
  width: 35.9%;
  height: 5.5%;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow for floating effect */
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease, border-color 0.2s ease; /* Added border-color to transition */
}

.btn:hover {
  transform: translateY(-4px); /* Lift button slightly higher on hover */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 0 8px 20px rgba(0, 0, 0, 0.3); /* Increase shadow intensity on hover */
  background-color: #a0a0a0; /* Darken background color on hover */
  border-color: #000; /* Darken border color on hover */
}



.exitbtn {
  top: 0%;
  left: 0%;
  width: 20%;
  height: 20%;
}

/* Adjusted top position for the first button */
.clickable1 {
  top: 35%;
  left: 11%;
}

/* Reduced space between buttons */
.clickable2 {
  top: 42%;
  left: 11%;
}

.clickable3 {
  top: 49%;
  left: 11%;
}

.clickable4 {
  top: 56%;
  left: 11%;
}

.clickable5 {
  top: 63%;
  left: 11%;
}

.clickable6 {
  top: 35%;
  left: 48.5%;
}

.clickable7 {
  top: 42%;
  left: 48.5%;
}

.clickable8 {
  top: 49%;
  left: 48.5%;
}

.clickable9 {
  top: 56%;
  left: 48.5%;
}

.clickable10 {
  top: 63%;
  left: 48.5%;
}

.player-btn {
  right: 50%;
  outline: none;
  color: white;
  background-color: #b6b6b6;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  border-color: transparent;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 0 10px;
}
/* Music player container */
.music-player-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 15%;
  width: 100%;
  padding: 0 20%;
  box-sizing: border-box;
  transform: translateX(-4%);
}

/* Music player */
.music-player {
  display: flex;
  align-items: center;
  width: 100%; /* Make it full width */
  max-width: 45%; /* Prevent it from getting too wide */
  padding: 1%; /* Adjust padding */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Seekbar styles */
#seekBar {
  width: 100%; /* Use 100% width to be responsive */
  height: 20px; /* Adjust height as needed */
  margin: 0 1%; /* Adjusted margin for seek bar */
  flex-grow: 1; /* Allow seekbar to grow and fill available space */
}

#timerDisplay {
  margin-right: 2%; /* Space between timer and seekbar */
  color: #fff; /* Timer text color */
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .music-player {
    padding: 1%;
  }
}



/* Video player popup */
.video-player-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 10.0s ease;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  -webkit-transition: background-color 10.0s ease;
  -moz-transition: background-color 10.0s ease;
  -ms-transition: background-color 10.0s ease;
  -o-transition: background-color 10.0s ease;
}

.video-player-popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.video-player-popup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #444;
  color: #fff;
}

.video-player-popup .player-body {
  padding: 10px;
}

.video-player-popup .player-body video {
  width: 100%;
  border-radius: 10px;
}

/* Updated button styling for the video player button */
#videoPlayerButton {
  position: fixed;
  top: 20px;
  right: 20px; /* Adjust the distance from the right edge */
  background-color: #b6b6b6;
  border: none;
  color: white;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* Make it a perfect circle */
  font-size: 24px;
  cursor: pointer;
  z-index: 1000; /* Ensure the button appears above other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoPlayerButton:hover {
  background-color: #ad9bb5;
}

#videoPlayerButton::before {
  content: "📽️"; /* Display the emoji */
  font-size: 50px; /* Adjust the font size to make it slightly bigger */
  margin-right: 25px; /* Add some space between the emoji and the button edge */
}

/* Add this CSS to your existing stylesheet or create a new CSS file */
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Ensure the popup is on top of other elements */
}

#popup-message {
  margin: 0;
}

.battery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  width: 165%;
}

/* Battery styles */
.battery {
  padding: 1% 1%; /* Slightly increase padding */
  width: 16%; /* Slightly increase width */
  border: solid 14px #000; /* Slightly increase border thickness */
  position: relative; /* Ensure relative positioning for shadow */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8); /* Stronger shadow effect */
}

.battery:after {
  content: " ";
  width: 10px; /* Slightly increase width */
  background: #FFF;
}

.bar {
  cursor: pointer;
  display: inline-block;
  width: 0;
  border: solid 7px #000; /* Slightly increase border thickness */
  padding: 2%; /* Slightly increase padding */
  height: 30px; /* Slightly increase height */
  background: transparent;
  transition: background 1s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8); /* Stronger shadow effect */

}

.bar.active {
  background: limegreen;
}

#blankSquarePopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Adjust the width to cover the entire viewport */
  height: 100vh; /* Adjust the height to cover the entire viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.toggleBlankSquarePopup {
  position: fixed;
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Center the element */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  z-index: 9999;
}

.toggleBlankSquarePopup {
  text-align: center;
  
}

.toggleBlankSquarePopup button {
  margin-top: 10px;
}


.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.welcomeMessage {
  margin-bottom: 20px; /* Add space between welcome message and questions */
}

.questionsContainer {
  text-align: left; /* Align questions to the left */
  font-size: 20px;
}

.submitButton {
  background-color: #ff0000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Hover effect for the submit button */
.submitButton:hover {
  background-color: #45a049; /* Darker Green */
  color: white;
}

#project_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px; /* Adjust padding as needed */
}

#logo {
  margin-bottom: 20px; /* Add some space below the logo */
}

#logo img {
  width: 150px; /* Adjust the size as needed */
  height: auto; /* Maintain the aspect ratio */
}



#timerDisplay {
  margin-left: 10px;
  color: white;
  font-size: 14px;
}



#blankSquarePopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popupContent {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  max-width: 80%;
  max-height: 80vh;
  overflow: hidden; /* Hide scrollbars */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 0 8px black; /* Simulated rounded outline */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.popupContent::before {
  content: "";
  position: absolute;
  top: -8px; /* Adjust to overlap the outline */
  left: -8px; /* Adjust to overlap the outline */
  width: calc(100% + 16px); /* Adjust to overlap the outline */
  height: calc(100% + 16px); /* Adjust to overlap the outline */
  background-image: url('../src/images/RechargeYourself.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.04;
  z-index: -1;
  border-radius: 20px;
}

.popupContent:hover::before {
  opacity: 0.1; /* Adjust the opacity of the background image on hover */
}


.welcomeMessage {
  font-size: 30px;
  color: #333; /* Modify color as needed */
  text-align: center; /* Center text within its own container */
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 75%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.instructions {
  color: rgb(0, 0, 0);
  text-align: left;
  width: 70%; /* Adjust the width to your preference */
  margin: 0 auto; /* Center align horizontally */
  display: flex;
  flex-direction: row; /* Stack items vertically */
  justify-content: center; /* Center align vertically */
  align-items: center; /* Center align horizontally */
}

.instructions div h5 {
  margin-bottom: 30px; /* Adjust spacing between h5 and h6 as needed */
}

.instructions div h6 {
  margin: 30px; /* Adjust spacing between steps as needed */
}

.instructions .new-here,
.instructions .been-before {
  width: 350px; /* Set a fixed width */
  height: 210px; /* Set a fixed height */
  background-color: #b6b6b6; /* Background color */
  color: rgb(0, 0, 0); /* Text color */
  text-align: center; /* Text alignment */
  font-size: 25px; /* Font size */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
  cursor: pointer; /* Pointer cursor */
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease, border-color 0.2s ease; /* Transition effects */
  border: 2px solid #000; /* Black border */
  margin: 10px; /* Adjust margin between buttons */

}
.instructions .new-here{
  margin-right: 160px;
}

.instructions .new-here:hover,
.instructions .been-before:hover {
  transform: translateY(-4px); /* Lift button slightly higher on hover */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 0 8px 20px rgba(0, 0, 0, 0.3); /* Increase shadow intensity on hover */
  background-color: #a0a0a0; /* Darken background color on hover */
  border-color: #000; /* Darken border color on hover */
}

.popupbottom h1{
  margin-top: 250px; /* Adjust margin between buttons */
  margin-bottom: 10%;
  font-size: 250%;
}

.resetButton {
  background-color: #ff0000; /* Red */
  border: none;
  color: white;
  width: 100px; /* Ensure it's a perfect circle */
  height: 100px; /* Ensure it's a perfect circle */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%; /* Make it a circle */
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.19);
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Hover effect for the submit button */
.resetButton:hover {
  transform: translateY(-4px); /* Lift button slightly higher on hover */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 0 8px 20px rgba(0, 0, 0, 0.3); /* Increase shadow intensity on hover */
  background-color: #45a049; /* Darker Green /* Darken background color on hover */
  border-color: #000; /* Darken border color on hover */
}
