body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background: url('../src/images/bg.jpg') no-repeat center center fixed;
  background-size: contain;
}

.bold-text {
  font-weight: bold;
}
.description {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
}

.btn {
  outline: none;
  color: white;
  background-color: #b6b6b6;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  border-color: transparent;
  position: absolute;
  z-index: 10;
  width: 35.9%;
  height: 5.5%;
  border-radius: 10px;
}

.exitbtn {
  top: 0%;
  left: 0%;
  width: 20%;
  height: 20%;
}

/* Adjusted top position for the first button */
.clickable1 {
  top: 35%;
  left: 11%;
}

/* Reduced space between buttons */
.clickable2 {
  top: 42%;
  left: 11%;
}

.clickable3 {
  top: 49%;
  left: 11%;
}

.clickable4 {
  top: 56%;
  left: 11%;
}

.clickable5 {
  top: 63%;
  left: 11%;
}

.clickable6 {
  top: 35%;
  left: 48.5%;
}

.clickable7 {
  top: 42%;
  left: 48.5%;
}

.clickable8 {
  top: 49%;
  left: 48.5%;
}

.clickable9 {
  top: 56%;
  left: 48.5%;
}

.clickable10 {
  top: 63%;
  left: 48.5%;
}

.player-btn {
  right: 50%;
  outline: none;
  color: white;
  background-color: #b6b6b6;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  border-color: transparent;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 0 10px;
}
/* Seekbar styles */
#seekBar {
  width: 100%; /* Use 100% width to be responsive */
  height: 20px; /* Adjust height as needed */
  margin: 0 5px; /* Adjusted margin for seek bar */
  flex-grow: 1; /* Allow seekbar to grow and fill available space */
}

/* Music player container */
.music-player-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 20%;
  width: 100%; /* Ensure container spans the full width of the screen */
  padding: 0 20%;
  box-sizing: border-box;
}

/* Music player */
.music-player {
  display: flex;
  align-items: center;
  width: 100%; /* Make it full width */
  max-width: 600px; /* Prevent it from getting too wide */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#timerDisplay {
  margin-right: 10px; /* Space between timer and seekbar */
  color: #fff; /* Timer text color */
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .music-player {
    padding: 5px;
  }
}


/* Video player popup */
.video-player-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 10.0s ease;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  -webkit-transition: background-color 10.0s ease;
  -moz-transition: background-color 10.0s ease;
  -ms-transition: background-color 10.0s ease;
  -o-transition: background-color 10.0s ease;
}

.video-player-popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.video-player-popup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #444;
  color: #fff;
}

.video-player-popup .player-body {
  padding: 10px;
}

.video-player-popup .player-body video {
  width: 100%;
  border-radius: 10px;
}

/* Updated button styling for the video player button */
#videoPlayerButton {
  position: fixed;
  top: 20px;
  right: 20px; /* Adjust the distance from the right edge */
  background-color: #b6b6b6;
  border: none;
  color: white;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* Make it a perfect circle */
  font-size: 24px;
  cursor: pointer;
  z-index: 1000; /* Ensure the button appears above other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoPlayerButton:hover {
  background-color: #ad9bb5;
}

#videoPlayerButton::before {
  content: "📽️"; /* Display the emoji */
  font-size: 50px; /* Adjust the font size to make it slightly bigger */
  margin-right: 5px; /* Add some space between the emoji and the button edge */
}

/* Add this CSS to your existing stylesheet or create a new CSS file */
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Ensure the popup is on top of other elements */
}

#popup-message {
  margin: 0;
}

.battery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%; /* Adjust top position as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Ensures the container takes up the full width of the screen */
}

/* Battery styles */
.battery {
  padding: 10px 10px;
  width: 420px;
  border: solid  20px #000;
}

.battery:after {
  content: " ";
  width: 7px;
  position: absolute;
  background: #FFF;
}

.bar {
  cursor: pointer;
  display: inline-block;
  width: 0;
  border: solid  5px #000;
  padding: 14px;
  height: 30px;
  background: transparent;
  transition: background 1s;
}

.bar.active {
  background: limegreen;
}

#blankSquarePopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Adjust the width to cover the entire viewport */
  height: 100vh; /* Adjust the height to cover the entire viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999;
}
.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%; /* Adjust the width of the content */
  height: 80%; /* Adjust the height of the content */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 20px;

}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.toggleBlankSquarePopup {
  position: fixed;
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Center the element */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  z-index: 9999;
}

.toggleBlankSquarePopup {
  text-align: center;
}

.toggleBlankSquarePopup button {
  margin-top: 10px;
}


.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%; /* Adjust the width of the content */
  height: auto; /* Let the height adjust based on content */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.welcomeMessage {
  margin-bottom: 20px; /* Add space between welcome message and questions */
}

.questionsContainer {
  text-align: left; /* Align questions to the left */
}

.submitButton {
  background-color: #ff0000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Hover effect for the submit button */
.submitButton:hover {
  background-color: #45a049; /* Darker Green */
  color: white;
}

#project_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px; /* Adjust padding as needed */
}

#logo {
  margin-bottom: 20px; /* Add some space below the logo */
}

#logo img {
  width: 150px; /* Adjust the size as needed */
  height: auto; /* Maintain the aspect ratio */
}



#timerDisplay {
  margin-left: 10px;
  color: white;
  font-size: 14px;
}



#blankSquarePopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popupContent {
  position: relative;
  width: 21cm; /* A4 paper width */
  height: 29.7cm; /* A4 paper height */
  max-width: 80%; /* Maximum width to keep it responsive */
  max-height: 80vh; /* Maximum height to keep it responsive */
  overflow-y: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 8px solid black;
  background-color: #fff; /* Ensures content background is still visible */
  font-weight: bold; /* Makes the text bolder */
}

.popupContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/images/RechargeYourself.jpg'); /* Background image */
  background-size: cover; /* Adjust background size */
  background-position: center; /* Center the background image */
  opacity: 0.05; /* Opacity of the background image */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
  border-radius: 5px; /* Match the border-radius of the main container */
}

.welcomeMessage {
  margin-top: -20px; /* Move it 20px higher */
  margin-bottom: 20px;
  font-size: 19px;
  color: #333; /* Modify color as needed */
  text-align: center; /* Center text within its own container */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}